* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 /* 
    palette colori
    verdeacqua "scuro" ----#00809d
    bianco ----#fcf8dd
    giallo chiaro ----#ffd700
    giallo scuro ----#d3af37
 */

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

body {
    position: relative;
    overflow: hidden;
    background-color: #00809d;
    
    /*
    #001bb7
    display: flex;
    justify-content: center;
    background-color: rgb(94, 94, 94);
    */
}

.radius-display-mobile {
    

    position: absolute;
    top: 20px;
    left: 20px;

    background-color: #ffd700;
    border-radius: 5px;
    color:#00809d;
    font-size: 2rem;
    
    padding: 1rem;

    /* z-index: 100; */
}


.side-drawer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    position: absolute;
    top: 0;
    left: -150px;

    width: 150px;
    height: 100vh;

    background-color: #ffd700;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;


}
/* classe per animazione */
.slide-in {
    animation-name: slide-in;
    animation-duration: 0.3s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}

.slide-out {
    animation-name: slide-out;
    animation-duration: 0.3s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}

.side-drawer-xy {
    font-size: 2rem;
    color: #00809d;
    background-color: #d3af37;
    border-radius: 5px;
    padding: 1rem;
    margin: 0 1rem;
        
}
.side-drawer-hide-btn  {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 40px;
    height: 40px;
    top: 45vh;
    left: 130px;

    color:#00809d;
    background-color: #ffd700;
    border-radius: 50%;
    padding: 5px 7px;
    font-size: 3rem;

    /* z-index: -1; */

}


.login-wrapper, .register-wrapper {
    font-family: sans-serif;
    color: white;
    
    margin-top: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 5rem;
    align-items: center;
    
}
.login-container, .register-container {
    position: relative;
    display: flex;
    flex-direction: column;
    
    gap: 1rem;

    width: 20%;
    background-color: #ffd700;
    border-radius: 5px;
    padding: 1.5rem 2rem;
}

.end-dialog-bg-card {
    font-family: sans-serif;
    width: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    background-color: #ffd700;
    border-radius: 5px;
    padding: 1.5rem 2rem;

}

.end-dialog-span {
    padding: 0.5rem;
    background-color: #d3af37;
    border-radius: 5px;
    text-align: center;
    color: #00809d;
    font-size: 2rem;
}

.end-dialog {
    position: fixed;
    top: 45%;
    left: 45%;
}

.login-wrapper > span,  .register-wrapper > span {
    color: #fcf8dd;
    font-size: 8rem;
}
.login-container > input, .register-container > input {
    
    font-size: 2rem;
    color: #00809d;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    background-color: #d3af37;
}

.login-container > input::placeholder, .register-container > input::placeholder {
    color: #00809d;
    font-size: 2rem;
    padding: 1rem 0.5rem;
}


.login-buttons, .register-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    /*flex-grow: 1;
    //align-self: center; */
}




.login-button, .register-button, .end-dialog-button {
    background-color: #00809d;
    color:#fcf8dd;
    font-size: 2rem;
    border-radius: 5px;
    padding: 0.5rem 1.5rem;
}

.login-button:hover,
.register-button:hover,
.side-drawer-hide-btn:hover,
.play-button:hover,
.end-dialog-button,
img#profile-photo-submit-img {
    cursor: pointer;
}

.header-wrapper {
    background-color: #ffd700;
}
.header {
    display: flex;
    gap: 1rem;
    padding: 0.5rem 1rem;
}

.header-elem {
    /* background-color: #ffd700; */
    border-radius: 5px;
    font-family: sans-serif;
    color: #00809d;
    font-size: 2rem;
    padding: 0.5rem 2rem;
}



/*
#canvas {
    border: 2px solid rgb(241, 241, 115);
}
*/


.view, .chat-wrapper-mobile {
    display: none;
}


.active {
    display: block;
}

.menu {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 200px;
    background-color: black;
    border-radius: 5px;

    padding: 1rem;
}

.option {
    font-family: sans-serif;
    font-size: 1.5rem;
    background-color: #222222;
    border-radius: 5px;
    color: rgb(241, 241, 115);
    padding: 5px 50px;
}

.option:hover {
    cursor: pointer;
}

.dashboard-wrapper {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    gap: 7.5rem;
    
}


.dashboard-main {
    
    display: flex;
    gap: 2rem;
    padding: 0 2rem;
   /* flex-grow: 1; */
}

.dashboard-user-info {
    position: relative;
    align-self: center;
    align-content: center;
}
.dashboard-wrapper > .dashboard-user-info > .dashboard-username {
    font-size: 10rem;
    font-family: sans-serif;
    color: #00809d;
    background-color: #fcf8dd;
    /*outline: 7px solid #ffd700;*/
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0 4rem;
    align-self: center;
    margin-top: 0.5rem; 
}

.dashboard-wrapper > .dashboard-user-info > center > .dashboard-personal-record {
    display: inline-block;
    font-size: 4rem;
    font-family: sans-serif;
    color: #00809d;
    background-color: #fcf8dd;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    /*outline: 7px solid #ffd700;*/
    align-content: center;
    padding: 0 1rem;
    
    margin-top: 0.5rem;
    
}

#profile_photo {
    /*
    position: absolute;
    
    left: -10rem;
    top: 1rem;
    */
    width: 10rem;

    border-radius: 50%;
    border: 4px solid #ffd700;
}

div.profile-pic {
    position: absolute;
    left: -10rem;
    top: 1rem;
}

img#profile-photo-submit-img {
    position: absolute;
    left: -6px;
    bottom: -10px;
    width: 2rem;
    background-color: #ffd700;
    padding: 0.6rem;
    border-radius: 30%;
}

#profile-photo-submit {
    /*
    position: absolute;
    left: -7rem;
    top: 8rem;
    width: 8rem;
    */
    display: none;
    /*
    border-radius: 50%;
    border: 4px solid #ffd700;
    */
}


.game-history {

    background-color: #d3af37;
    border-radius: 5px;
    padding: 1rem 0;
    flex-grow: 1;
}

.game-history > .game-record {
    color: #00809d;
    font-family: sans-serif;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    /*background-color: #7a85c1;*/
}

.play-button {
    background-color: #ffd700;
    color: #00809d;
    font-family: sans-serif;
    font-size: 4rem;
    border-radius: 5px;
    /*border: 7px solid #7a85c1;*/
    padding: 0.5rem 1.5rem;
    align-self: flex-start;
}

.yes {
    background-color: #fcf8dd;
}

#cronologia {
    color:#00809d;
    font-family: sans-serif;
    font-size: 3rem;
    padding: 0.5rem 1rem;
}


div.chat-wrapper {
    position: fixed;
    bottom: 20px;
    left: 20px;
}
div.chat-display {
    font-family: sans-serif;
    background-color: #ffd700;
    font-size: 1.5rem;
    padding: 0.2rem 0.5rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    max-height: 200px;
    min-height: 50px;
    overflow: auto;
}

div.chat-record {
    margin-bottom: 0.3rem;
    color: #00809d;
    background-color: #d3af37;
    border-radius: 5px;
    padding: 0.5rem;
    
}


#chat-input, #chat-input-mobile {
    outline: none;
    border: none;
    color: #00809d;
    background-color: #ffd700;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0.5rem 0.7rem;
    caret-color: #00809d;
    margin-top: 0.2rem;
}

#chat-input::placeholder {
    color: #00809d;
    font-size: 1.5rem;
}



/*
.controller-buttons-wrapper {
    display: none;
}*/

.controller-buttons-wrapper {
    display: none;
    
}
@media screen and ( width > 900px ) {
    .controller-buttons-wrapper {
        display: none;
        
    }


}
@media screen and ( max-width: 56.25rem ) {
    /*
    div[class~=side-drawer] input#chat-input-mobile {

    }
    */
    .chat-wrapper-mobile {
        width: 80%;
        display: inline;
        align-self: center;
        
    }

    html {
        font-size: 45%;
    }
    body {
        overflow: auto;
    }

    canvas#canvas {
        z-index: -1;
    }
    .login-wrapper, .register-wrapper {
         margin-top: 0vh; 
        
    }
    .dashboard-main {
    
        display: flex;
        flex-direction: column;
        align-items: center;
        /*gap: 10px;*/
        /*padding: 0px 20px;*/
        /* flex-grow: 1; */
    }

    /*
    div.dashboard-wrapper {
        gap: 20px; 
    }
    */

    /*
    div.dashboard-wrapper > div.dashboard-username {

         font-size: 2.3rem; 
    } 
    */

    .dashboard-main > .play-button {
        align-self: center;
    }
    
    div.profile-pic {
        display: block;
        position: relative;
        top: 0px;
        left: 0px;
        margin: 0 auto;
    }
    img#profile_photo {
        display: block;
        margin: 0 auto;
    }

    img#profile-photo-submit-img {
        bottom: -10px;
        left: 50%;
    }
    
    div.chat-wrapper, div.header-wrapper {
        display: none;
    }

    .controller-buttons-wrapper {
        position: fixed;
        display: block;
        right: 110px;
        bottom: 100px;
        
    }
    .chat-wrapper-mobile{
        border-radius: 5px;
        outline: 2px solid #00809d ;
    }

    #chat-input-mobile {
        width: 100%;
    }

    /*
    img#left_arrow {
        width: 50px;
        position: absolute;
        left: -75px;
    }

    img#right_arrow {
        width: 50px;
        position: absolute;
        right: -75px;
    }

    img#up_arrow {
        width: 50px;
        position: absolute;
        top: -50px;
        right: -25px;
        
    }

    img#down_arrow {
        width: 50px;
        position: absolute;
        bottom: -100px;
        right: -25px;
    }
    */
    img#boom {
        width: 50px;
        position: absolute;
        left: -150px;
    }

    img#boom-mini {
        width:30px;
        position: absolute;
        left: -81px;
        bottom: -81px;
    }

}

@keyframes slide-in {
    from {
        translate: 0px;
    }

    to {
        translate: 150px;
    }
}

@keyframes slide-out {


    to {
        translate: -150px;
    }
}